{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Tablero de Control | Planificación Industrial</title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

  <style>
    body {
      background: url("/static/img/background.png") no-repeat center center fixed;
      background-size: cover;
      height: 100%;
      margin: 0;
      overflow: hidden;
    }

    .background {
      align-items: center;
      background-color: rgba(0, 0, 0, 0.7);
      display: flex;
      height: 100vh;
      justify-content: flex-end;
      position: fixed;
      width: 100vw;
    }

    .form-group {
      width: 100%;
    }

    form {
      align-items: center;
      background-color: rgba(255, 255, 255, 0.8);
      display: flex;
      flex-direction: column;
      height: 100vh;
      justify-content: center;
      padding: 30px;
      width: 400px;
    }
  </style>

</head>

<body>
  <div class="background">
    <form method="POST">
      {% csrf_token %}
      <div class="form-group">
        <label for="id_username">
          Nombre de usuario:
        </label>
        <input class="form-control" type="text" name="username">
      </div>
      <div class="form-group">
        <label for="id_password">
          Contraseña:
        </label>
        <input class="form-control" type="password" name="password">
      </div>
      <button class="btn btn-primary btn-lg btn-block" type="submit">Ingresar</button>
    </form>
  </div>
</body>

</html>