{% extends 'base.html' %}
{% load static %}


{% block title_module %}

Creación homologación de datos

{% endblock title_module %}

{% block module %}
<li><a href="#">Configuración</a></li>
<li><a href="{% url 'homologation_list' %}">Lista de homologación de datos</a></li>
{% endblock module %}
{% block view %}
Crear
{% endblock view %}


{% block content %}
<div class="panel">
  <div class="panel-heading"></div>
  <form method="POST" novalidate="novalidate">
    {% csrf_token %}
    <div class="panel-body">
      <div class="form-group {% if field.errors %}has-error{% endif %}">
        <label class="control-label" for="id_import_file">Archivo a importar</label>
        <select name="id_import_file" id="id_import_file" class="form-control">
          <option value="0" selected>Seleccionar archivo...</option>
          {% for field in archivos %}
          <option value="{{field.id}}">{{field.name}}</option>
          {% endfor %}
        </select>
        {% if field.help_text %}
        <small style="color: grey">{{ field.help_text | safe }}</small>
        {% endif %}
        {% for error in field.errors %}
        <small class="text-danger pull-right">{{ error }}</small>
        {% endfor %}
      </div>
      <div class="form-group">
        <div id="result">
          <table class="table">
            <thead>
              <tr>
                <th>Destino</th>
                <th>Origen</th>
              </tr>
            </thead>
            <tbody>

            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      {% if object %}
      <button class="btn btn-danger" type="button">Eliminar</button>
      {% endif %}
      <button class="btn btn-success" type="button" id="create_homologation">
        {% if object %}
        Actualizar
        {% else %}
        Crear
        {% endif %}
      </button>
    </div>
  </form>
</div>
{% endblock content %}