{% extends 'base.html' %}
{% load static %}
{% load humanize %}


{% block extrahead %}
<link href="{% static 'plugins/datatables/media/css/dataTables.bootstrap.css' %}" rel="stylesheet">
<link href="{% static 'plugins/datatables/extensions/Responsive/css/responsive.dataTables.min.css' %}" rel="stylesheet">
{% endblock extrahead %}


{% block title_module %}
Consumo
{% endblock title_module %}
{% block module %}
<li><a href="#">Importación</a></li>
{% endblock module %}
{% block view %}
Lista de Consumo
{% endblock view %}


{% block content %}

{% if messages %}
<div class="alert alert-success">
  {% for message in messages %}
  {{message}}
  {% endfor %}
</div>
{% endif %}

<div class="panel">
  <div class="panel-body">
    <div class="pad-btm form-inline">
      <div class="row">
        <div class="col-sm-6 table-toolbar-left">
          <form method="GET" action="{% url 'consumo_list' %}">
            <div class="input-group mar-btm">
              <input type="text" name="filter" class="form-control" placeholder="Cod. SAP">
              <span class="input-group-addon"><i class="demo-pli-magnifi-glass"></i></span>
            </div>

            {% if filter %}
            <div class="input-group mar-btm">
              <span class="well well-xs">Material filtrado: {{filter}}</span>
              <a href="{% url 'consumo_list' %}" class="mar-lft">Limpiar</a>
            </div>
            {% endif %}

          </form>
        </div>
        <div class="col-sm-6 table-toolbar-right">
          <a href="{% url 'consumo_create' %}" class="btn btn-primary btn-labeled"><i
              class="btn-label demo-pli-add"></i>
            Importar</a>
        </div>
      </div>
    </div>
    <table class="table table-hover table-bordered datatable-list-imports" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th class="active">Id</th>
          <th class="active">Periodo</th>
          <th class="active">Hora de entrada</th>
          <th class="active">Clase de movimiento</th>
          <th class="active">Documento material</th>
          <th class="active">Centro</th>
          <th class="active">Nombre 1</th>
          <th class="active">Almacén</th>
          <th class="active">Lote</th>
          <th class="active">Material</th>
          <th class="active">Texto breve de material</th>
          <th class="active">Fe.contabilización</th>
          <th class="active">Ctd.en UM entrada</th>
          <th class="active">Un.medida de entrada</th>
          <th class="active">Cantidad</th>
          <th class="active">Unidad medida base</th>
      </thead>
      <tbody>
        {% if object_list %}
        {% else %}
        <tr>
          <td colspan="16" class="text-center">No existen datos que visualizar</td>
        </tr>
        {% endif %}
        {% for self in object_list %}
        <tr>
          <td>{{self.id}}</td>
          <td>{{self.period}}</td>
          <td>{{self.hour}}</td>
          <td>{{self.classmov}}</td>
          <td>{{self.document}}</td>
          <td>{{self.plant}}</td>
          <td>{{self.name}}</td>
          <td>{{self.almacen}}</td>
          <td>{{self.lote}}</td>
          <td>{{self.code}}</td>
          <td>{{self.description}}</td>
          <td>{{self.date}}</td>
          <td class="text-right">{{self.quantity_um|floatformat:0|intcomma}}</td>
          <td>{{self.um}}</td>
          <td class="text-right">{{self.quantity|floatformat:0|intcomma}}</td>
          <td>{{self.um_base}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% if is_paginated %}
    <ul class="pager pull-right">
      {% if page_obj.has_previous %}
      <li>
        <a href="/app_imports/consumo_ead_list?page={{ page_obj.previous_page_number }}">
          <i class="demo-psi-arrow-left"></i>
          Anterior
        </a>
      </li>
      {% else %}
      <li class="disabled">
        <a href="#">
          <i class="demo-psi-arrow-left"></i>
          Anterior
        </a>
      </li>
      {% endif %}
      <li>
        <span>Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>
      </li>
      {% if page_obj.has_next %}
      <li>
        <a href="/app_imports/consumo_ead_list?page={{ page_obj.next_page_number }}">
          Siguiente
          <i class="demo-psi-arrow-right"></i>
        </a>
      </li>
      {% endif %}
    </ul>
    {% endif %}
  </div>
</div>
{% endblock content %}