{% extends 'base.html' %}
{% load static %}
{% load humanize %}


{% block extrahead %}
<link href="{% static 'plugins/datatables/media/css/dataTables.bootstrap.css' %}" rel="stylesheet">
<link href="{% static 'plugins/datatables/extensions/Responsive/css/responsive.dataTables.min.css' %}" rel="stylesheet">
{% endblock extrahead %}



{% block title_module %}
Programa de producción
{% endblock title_module %}
{% block module %}
<li><a href="#">Importación</a></li>
{% endblock module %}
{% block view %}
Lista de programa de producción
{% endblock view %}


{% block content %}

{% if messages %}
<div class="alert alert-success">
  {% for message in messages %}
  {{message}}
  {% endfor %}
</div>
{% endif %}

<div class="panel">
  <div class="panel-body">
    <div class="pad-btm form-inline">
      <div class="row">
        <div class="col-sm-6 table-toolbar-left">
          <form method="GET" action="{% url 'production_program_list' %}">
            <div class="input-group mar-btm">
              <input type="text" name="filter" class="form-control" placeholder="Cod. SAP">
              <span class="input-group-addon"><i class="demo-pli-magnifi-glass"></i></span>
            </div>

            {% if filter %}
            <div class="input-group mar-btm">
              <span class="well well-xs">Código filtrado: {{filter}}</span>
              <a href="{% url 'production_program_list' %}" class="mar-lft">Limpiar</a>
            </div>
            {% endif %}

          </form>
        </div>
        <div class="col-sm-6 table-toolbar-right">
          <a href="{% url 'production_program_create' %}" class="btn btn-primary btn-labeled"><i
              class="btn-label demo-pli-add"></i>
            Importar</a>
        </div>
      </div>
    </div>
    <table class="table table-hover table-bordered datatable-list-imports" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th class="active">Id</th>
          <th class="active">Periodo</th>
          <th class="active">Sector</th>
          <th class="active">Centro</th>
          <th class="active">Cod. SAP</th>
          <th class="active">Descripción</th>
          <th class="active">Nivel 2</th>
          <th class="active">Fecha de proceso</th>
          <th class="active">Pais</th>
          <th class="active">Kg original</th>
          <th class="active">Kg modificado</th>
          <th class="active">Kg real</th>
        </tr>
      </thead>
      <tbody>
        {% if object_list %}
        {% else %}
        <tr>
          <td colspan="14" class="text-center">No existen datos que visualizar</td>
        </tr>
        {% endif %}
        {% for self in object_list %}
        <tr>
          <td>{{self.id}}</td>
          <td>{{self.period}}</td>
          <td>{{self.sector}}</td>
          <td>{{self.center}}</td>
          <td>{{self.code}}</td>
          <td>{{self.description}}</td>
          <td>{{self.level2}}</td>
          <td>{{self.date_proccess}}</td>
          <td>{{self.destiny}}</td>
          <td class="text-right">{{self.kg_original|floatformat:0|intcomma}}</td>
          <td class="text-right">{{self.kg_modified|floatformat:0|intcomma}}</td>
          <td class="text-right">{{self.kg_real|floatformat:0|intcomma}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% if is_paginated %}
    <ul class="pager pull-right">
      {% if page_obj.has_previous %}
      <li>
        <a href="/app_imports/production_program_list?page={{ page_obj.previous_page_number }}">
          <i class="demo-psi-arrow-left"></i>
          Anterior
        </a>
      </li>
      {% else %}
      <li class="disabled">
        <a href="#">
          <i class="demo-psi-arrow-left"></i>
          Anterior
        </a>
      </li>
      {% endif %}
      <li>
        <span>Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>
      </li>
      {% if page_obj.has_next %}
      <li>
        <a href="/app_imports/production_program_list?page={{ page_obj.next_page_number }}">
          Siguiente
          <i class="demo-psi-arrow-right"></i>
        </a>
      </li>
      {% endif %}
    </ul>
    {% endif %}
  </div>
</div>

{% endblock content %}