{% extends 'base.html' %}
{% load static %}


{% block title_module %}
Importar Stock homologado
{% endblock title_module %}

{% block module %}
<li><a href="#">Importación</a></li>
<li><a href="{% url 'stock_homologado_list' %}">Lista de Stock homologado</a></li>
{% endblock module %}
{% block view %}
Importar
{% endblock view %}


{% block content %}
<div class="panel">
  <div class="panel-heading">
  </div>
  <div class="panel-body">
    <div class="form-group">
      <label class="control-label" for="id_tipo_periodo">Tipo de periodo</label>
      <select class="form-control" id="id_tipo_periodo">
        <option value="0">Seleccionar...</option>
        {% for self in tipoPeriodo %}
        <option value="{{self.id}}">{{self.period}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group hidden" id="period">
      <label class="control-label" for="periodo_id">Periodo</label>
      <select id="periodo_id" class="form-control"></select>
    </div>
    <div class="form-group">
      <button class="btn btn-success btn-block" id="confirm_import_stock_homologado">Confirmar importación</button>
    </div>
    <table class="table table-hover table-bordered datatable-list" cellspacing="0" width="100%"
      id="result_list_StockHomologado">
      <thead>
        <tr class="info">
          {% for self in header %}
          <th>{{self.header}}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for self in object_list %}

        {% if self.0 != None %}
        <tr>
          <td>{{self.0}}</td>
          <td>{{self.1}}</td>
          <td>{{self.2}}</td>
          <td>{{self.3}}</td>
          <td>{{self.4}}</td>
          <td>{{self.5}}</td>
          <td>{{self.6}}</td>
          <td>{{self.7}}</td>
          <td>{{self.8}}</td>
        </tr>
        {% endif %}

        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}

{% block extrascript %}
<script src="{% static 'js/jquery.tabletojson.min.js' %}"></script>
{% endblock extrascript %}