{% extends 'base.html' %}
{% load static %}

{% block title_module %}
Importar Stock homologado
{% endblock title_module %}

{% block module %}
<li><a href="#">Importación</a></li>
<li><a href="{% url 'stock_homologado_list' %}">Lista Stock homologado</a></li>
{% endblock module %}
{% block view %}
Importar
{% endblock view %}

{% block content %}

<div class="panel">
  <div class="panel-heading"></div>
  <div class="panel-body">
    <form action="{% url 'import_data_stock_homologado' %}" enctype="multipart/form-data" method="POST">
      {% csrf_token %}
      <input type="hidden" id="model" name="model" value="{{model}}">
      <div class="form-group">
        <input type="file" name="import_file" id="import_file" class="form-class" required>
      </div>
      <div class="form-group text-right">
        <button class="btn btn-success" type="submit">Importar</button>
      </div>
    </form>
  </div>
</div>
{% endblock content %}

{% block extrascript %}
<script src="{% static 'js/bootstrap-fileselect.min.js' %}"></script>
<script>
  $("#import_file").betterInputFile({
    'btnText': "Seleccionar archivo",
    'placeholder': "Archivo no seleccionado"
  });
  $("form").submit(function (e) {
    e.preventDefault(e);
    $(".spinner-modal").removeClass("hidden");
    this.submit();
  });
</script>
{% endblock extrascript %}