@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);*{font-family:'Open sans', sans-serif;font-weight:300}body{background-image:url("../img/mybg.png");height:100vh;margin:0}article{-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;height:100vh;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center}article form{background-color:#FFFFFF;padding:30px;width:400px}article form .form_group{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;margin-top:20px}article form .form_group button{background-color:#00669E;border:solid 1px #00669E;color:#FFFFFF;padding:10px}article form .form_group button:hover{background-color:#005c8f;cursor:pointer}article form .form_group input{border:solid 1px #9F9F9F;margin-top:5px;padding:10px}article form .form_group input:focus{border:solid 1px #F26013}article form .form_group label{color:#9F9F9F;font-size:0.8em}article form .logo{-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;margin-bottom:30px}article form .logo p{color:#9F9F9F;font-size:0.8em}
.errorlist {
	list-style:none;
	margin-bottom: 0;
	padding-left: 0;
}
.logo_personas {
	width: 50%;
}