{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Tablero de Control | Planificación Industrial</title>
  <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/nifty.css' %}" rel="stylesheet">
  <link href="{% static 'css/app/nifty-demo-icons.min.css' %}" rel="stylesheet">
  <link href="{% static 'plugins/pace/pace.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/app/nifty-app.css' %}" rel="stylesheet">
  <link href="{% static 'css/sweetalert2.min.css' %}" rel="stylesheet">
  <link href="{% static 'plugins/css-loaders/css/css-loaders.css' %}" rel="stylesheet">
  <script src="{% static 'plugins/pace/pace.min.js' %}"></script>

  {% block extrahead %}{% endblock extrahead %}

</head>

<body>
  <div class="spinner-modal hidden">
    <div class="panel">
      <div class="panel-body">
        <div class="load5">
          <div class="loader"></div>
        </div>
      </div>
    </div>
  </div>
  <div id="container" class="effect aside-float aside-bright mainnav-lg">
    <header id="navbar">
      <div id="navbar-container" class="boxed">
        <div class="navbar-header">
          <a href="{% url 'home' %}" class="navbar-brand">
            <img src="{% static 'img/logo.png' %}" alt="Planificación Industrial" class="brand-icon">
            <div class="brand-title">
              <span class="brand-text">Planificación Industrial</span>
            </div>
          </a>
        </div>
        <div class="navbar-content">
          <ul class="nav navbar-top-links">
            <li class="dropdown">
              <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                <i class="demo-pli-bell"></i>
                <span class="badge badge-header badge-danger"></span>
              </a>
              <div class="dropdown-menu dropdown-menu-md dropdown-menu-right">
                <div class="nano scrollable">
                  <div class="nano-content">
                    <ul class="head-list">
                      <!-- <li>
                        <a href="#" class="media add-tooltip" data-title="Used space : 95%" data-container="body"
                          data-placement="bottom">
                          <div class="media-left">
                            <i class="demo-pli-data-settings icon-2x text-main"></i>
                          </div>
                          <div class="media-body">
                            <p class="text-nowrap text-main text-semibold">HDD is full</p>
                            <div class="progress progress-sm mar-no">
                              <div style="width: 95%;" class="progress-bar progress-bar-danger">
                                <span class="sr-only">95% Complete</span>
                              </div>
                            </div>
                          </div>
                        </a>
                      </li> -->
                    </ul>
                  </div>
                </div>
              </div>
            </li>
            <li id="dropdown-user" class="dropdown">
              <a href="#" data-toggle="dropdown" class="dropdown-toggle text-right">
                <span class="ic-user pull-right">
                  <i class="demo-pli-male"></i>
                </span>
              </a>
              <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right panel-default">
                <ul class="head-list">
                  <li>
                    <a href="{% url 'logout' %}"><i class="demo-pli-unlock icon-lg icon-fw"></i> Salir</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="tgl-menu-btn">
              <a class="mainnav-toggle" href="#">
                <i class="demo-pli-list-view"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <div class="boxed">
      <div id="content-container">
        <div id="page-head">
          <div id="page-title">
            <h1 class="page-header text-overflow">{% block title_module %}{% endblock title_module %}</h1>
          </div>
          {% if request.path != '/' %}
          <ol class="breadcrumb">
            <li><a href="{% url 'home' %}"><i class="demo-pli-home"></i></a></li>
            {% block module %}{% endblock module %}
            <li class="active">{% block view %}{% endblock view %}</li>
          </ol>
          {% endif %}
        </div>
        <div id="page-content">
          {% block content %}

          {% for self in indicators %}
          <div class="panel panel-warning">
            <div class="panel-heading">
              <div class="panel-control">
                <button class="btn btn-default" data-panel="minmax" data-target="#panel-collapse-e93f"
                  data-toggle="collapse" aria-expanded="true"><i class="demo-psi-chevron-up"></i></button>
              </div>
              <h3 class="panel-title">{{self.name}}</h3>
            </div>
            <div class="collapse in">
              <div class="panel-body row" id="indicator-{{self.id}}">
              </div>
            </div>
          </div>
          {% endfor %}

          {% endblock content %}
        </div>
      </div>
      <nav id="mainnav-container">
        <div id="mainnav">
          <div id="mainnav-menu-wrap">
            <div class="nano">
              <div class="nano-content">
                <ul id="mainnav-menu" class="list-group">
                  <li id="first-menu" class="{% if request.path == '/' %}active-link{% endif %}">
                    <a href="{% url 'home' %}">
                      <i class="demo-pli-home"></i>
                      <span class="menu-title">Inicio</span>
                    </a>
                  </li>
                  <li class="{% if request.path == '/tablero/' %}active-link{% endif %}">
                    <a href="{% url 'dashboard' %}">
                      <i class="demo-pli-monitor-2"></i>
                      <span class="menu-title">Tablero</span>
                    </a>
                  </li>
                  <li class="list-header mar-no">Módulos</li>
                  <li class="{% if 'app_kpi' in request.path %}active-sub{% endif %}">
                    <a href=" #">
                      <i class="demo-pli-bar-chart"></i>
                      <span class="menu-title">Indicadores</span>
                      <i class="arrow"></i>
                    </a>
                    <ul class="collapse {% if 'app_kpi' in request.path %}in{% endif %}">
                      <li class="{% if 'indicator_list' in request.path %}active-link{% endif %}"><a
                          href="{% url 'indicator_list' %}">Lista de indicadores</a></li>
                      <li class="{% if 'chart_list' in request.path %}active-link{% endif %}"><a
                          href="{% url 'chart_list' %}">Lista de gráficos</a></li>
                    </ul>
                  </li>
                  <li class="{% if 'app_imports' in request.path %}active-sub{% endif %}">
                    <a href="#">
                      <i class="demo-pli-upload-to-cloud"></i>
                      <span class="menu-title">Importación</span>
                      <i class="arrow"></i>
                    </a>
                    <ul class="collapse {% if 'app_imports' in request.path %}in{% endif %}">
                      <li class="{% if 'production_program_list' in request.path %}active-link{% endif %}"><a
                          href="{% url 'production_program_list' %}">Programa producción</a></li>
                      <li class="{% if 'db_production_list' in request.path %}active-link{% endif %}"><a
                          href="{% url 'db_production_list' %}">BD producción</a></li>
                      <li class="{% if 'stock_homologado_list' in request.path %}active-link{% endif %}"><a
                          href="{% url 'stock_homologado_list' %}">Stock homologado</a></li>
                      <li class="{% if 'stock_meta_list' in request.path %}active-link{% endif %}"><a
                          href="{% url 'stock_meta_list' %}">Stock meta</a></li>
                      <li class="{% if 'stock_insumos_list' in request.path %}active-link{% endif %}"><a
                          href="{% url 'stock_insumos_list' %}">Stock insumos</a></li>
                      <li class="{% if 'consumo_list' in request.path %}active-link{% endif %}"><a
                          href="{% url 'consumo_list' %}">Consumo insumos</a></li>
                      <li class="{% if 'reunion_volumen_list' in request.path %}active-link{% endif %}"><a
                          href="{% url 'reunion_volumen_list' %}">Reunión de volumen</a></li>
                    </ul>
                  </li>
                  <li class="{% if 'app_settings' in request.path %}active-sub{% endif %}">
                    <a href="#">
                      <i class="demo-pli-gears"></i>
                      <span class="menu-title">Configuración</span>
                      <i class="arrow"></i>
                    </a>
                    <ul class="collapse {% if 'app_settings' in request.path %}in{% endif %}">
                      <li class="{% if 'import_file_list' in request.path %}active-link{% endif %}"><a
                          href="{% url 'import_file_list' %}">Archivos a importar</a></li>
                      <li class="{% if 'homologation_list' in request.path %}active-link{% endif %}"><a
                          href="{% url 'homologation_list' %}">Homologación de datos</a></li>
                    </ul>
                  </li>
                  <li class="{% if 'app_master' in request.path %}active-sub{% endif %}">
                    <a href="#">
                      <i class="demo-pli-data-storage"></i>
                      <span class="menu-title">Datos Maestros</span>
                      <i class="arrow"></i>
                    </a>
                    <ul class="collapse {% if 'app_master' in request.path %}in{% endif %}">
                      <li class="{% if 'period_type_list' in request.path %}active-link{% endif %}"><a
                          href="{% url 'period_type_list' %}">Tipos de periodos</a></li>
                      <li class="{% if 'period_list' in request.path %}active-link{% endif %}"><a
                          href="{% url 'period_list' %}">Periodos</a></li>
                      <li class="{% if 'sector_list' in request.path %}active-link{% endif %}"><a
                          href="{% url 'sector_list' %}">Sectores</a></li>
                    </ul>
                  </li>
                  <li class="{% if 'app_auth' in request.path %}active-sub{% endif %}">
                    <a href=" #">
                      <i class="demo-pli-male"></i>
                      <span class="menu-title">Autentificación</span>
                      <i class="arrow"></i>
                    </a>
                    <ul class="collapse {% if 'app_auth' in request.path %}in{% endif %}">
                      <li class="{% if 'listUsers' in request.path %}active-link{% endif %}"><a
                          href="{% url 'userslist' %}">Lista de usuarios</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </nav>
      <footer id="footer">
        <div class="hide-fixed pull-right pad-rgt">
          Versión de desarrollo <strong>1.1-10.07</strong>
        </div>
      </footer>
    </div>
  </div>

  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/nifty.min.js' %}"></script>
  <script src="{% static 'js/app/nifty-app.js' %}"></script>
  <script src="{% static 'js/sweetalert2.all.min.js' %}"></script>
  <script src="{% static 'js/highcharts.src.js' %}"></script>
  <script src="{% static 'js/highcharts-more.js' %}"></script>
  <script src="{% static 'plugins/gridstack/js/gridstack.js' %}"></script>
  <script src="{% static 'plugins/gridstack/js/gridstack.jQueryUI.js' %}"></script>
  <script src="{% static 'js/app.js' %}"></script>

  {% block extrascript %}{% endblock extrascript %}

</body>

</html>