{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Tablero de Control | Planificación Industrial</title>
  <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/nifty.css' %}" rel="stylesheet">
  <link href="{% static 'css/app/nifty-demo-icons.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'plugins/themify-icons/themify-icons.min.css' %}">
  <link href="{% static 'plugins/pace/pace.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/app/nifty-app.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/themes/type-d/theme-navy.min.css' %}">
  <link href="{% static 'css/sweetalert2.min.css' %}" rel="stylesheet">
  <link href="{% static 'plugins/css-loaders/css/css-loaders.css' %}" rel="stylesheet">
  <link href="{% static 'plugins/gridstack/css/gridstack.min.css' %}" rel="stylesheet">

  <script src="{% static 'plugins/pace/pace.min.js' %}"></script>

  {% block extrahead %}{% endblock extrahead %}
</head>

<body>
  <div class="spinner-modal hidden">
    <div class="panel">
      <div class="panel-body">
        <div class="load5">
          <div class="loader"></div>
        </div>
      </div>
    </div>
  </div>
  <div id="container">
    <header id="navbar">
      <div id="navbar-container" class="boxed">
        <div class="navbar-header">
          <a href="{% url 'dashboard' %}" class="navbar-brand">
            <img src="{% static 'img/logo.png' %}" alt="Planificación Industrial" class="brand-icon">
            <div class="brand-title" style="width: 250px;">
              <span class="brand-text" style="color: white;">Planificación Industrial</span>
            </div>
          </a>
        </div>
        <div class="navbar-content">
          <ul class="nav navbar-top-links">
            <li>
              <div class="custom-search-form">
                <label class="btn btn-trans" for="search-input" data-toggle="collapse" data-target="#nav-searchbox">
                  <i class="demo-pli-magnifi-glass"></i>
                </label>
                <form>
                  <div class="search-container collapse" id="nav-searchbox">
                    <input id="search-input" type="text" class="form-control" placeholder="Buscar visualización...">
                  </div>
                </form>
              </div>
            </li>
          </ul>
          <ul class="nav navbar-top-links">
            <li>
              <a id="generatePdf" class="action-button">
                <i class="demo-pli-download-window"></i>
                <span><small>Descargar</small></span>
              </a>
            </li>
            <li class="dropdown">
              <a href="#" data-toggle="dropdown" class="dropdown-toggle action-button">
                <i class="ti-save"></i>
                <span><small>Guardar</small></span>
              </a>


              <!--Notification dropdown menu-->
              <div class="dropdown-menu dropdown-menu-md dropdown-menu-right">
                <div class="nano scrollable">
                  <div class="nano-content">
                    <ul class="head-list">
                      <li>
                        <a href="#" class="media add-tooltip"
                          data-title="Nombre con el cual podrá volver a utilizar esta visualización"
                          data-container="body" data-placement="bottom">
                          <div class="media-body">
                            <input type="text" class="form-control" placeholder="Guardar como..." id="nameDashboard">
                            <button class="btn btn-block mar-top btn-success">Guardar</button>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <div class="boxed">
      <div id="content-container">
        <input type="hidden" id="num_view" value="{{num_view}}">
        <div id="page-content">
          <div class="row" style="margin-top: 20px;">

            <div class="tab-base">
              <ul class="nav nav-tabs">

                {% for self in sectores %}

                {% if forloop.first %}
                <li class="active">
                  <a data-toggle="tab" href="#graph-tab-{{self.code}}">
                    {{self.name}}
                  </a>
                </li>
                {% else %}
                <li>
                  <a data-toggle="tab" href="#graph-tab-{{self.code}}">
                    {{self.name}}
                  </a>
                </li>
                {% endif %}

                {% endfor %}
                <li>
                  <a data-toggle="tab" href="#graph-tab-insumos">
                    Insumos
                  </a>
                </li>
              </ul>
              <div class="tab-content">
                <ul class="pager">
                  <span>Periodo: </span>
                  <li><a id="a_before_period"><i class="demo-psi-arrow-left"></i> Anterior</a></li>
                  <li id="after_period" class="disabled"><a class="disabled" id="a_after_period">Siguiente <i
                        class="demo-psi-arrow-right"></i></a>
                  </li>
                </ul>
                {% for self in sectores %}
                <div id="graph-tab-{{self.code}}" class="tab-pane fade {% if forloop.first %}active in{% endif %}">
                  <div class="grid-stack">

                    {% for x in self.charts %}
                    {% if x.size == '1x1' %}
                    <div class="grid-stack-item" id="grid-stack-chart-{{x.id_chart}}" data-gs-x="{{x.gs_x}}"
                      data-gs-y="{{x.gs_y}}" data-gs-width="12" data-gs-height="4">
                      {% elif x.size == '1x2' %}
                      <div class="grid-stack-item" id="grid-stack-chart-{{x.id_chart}}" data-gs-x="{{x.gs_x}}"
                        data-gs-y="{{x.gs_y}}" data-gs-width="8" data-gs-height="4">
                        {% elif x.size == '1x3' %}
                        <div class="grid-stack-item" id="grid-stack-chart-{{x.id_chart}}" data-gs-x="{{x.gs_x}}"
                          data-gs-y="{{x.gs_y}}" data-gs-width="4" data-gs-height="4">
                          {% endif %}

                          <div class="grid-stack-item-content">
                            <div class="panel">
                              <div class="panel-heading">
                                <div class="panel-control">
                                  <button class="btn btn-default remove-graph" data-id="{{x.id_chart}}"><i
                                      class="demo-psi-cross"></i></button>
                                </div>
                              </div>
                              <div class="panel-body row" id="tablero-{{x.id_chart}}-{{self.code}}"
                                data-sector="{{self.code}}" data-id="{{x.id_chart}}">
                                <div class="load7">
                                  <div class="loader"></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        {% endfor %}

                      </div>
                    </div>
                    {% endfor %}
                    <div id="graph-tab-insumos" class="tab-pane fade {% if forloop.first %}active in{% endif %}"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% csrf_token %}
      <script src="{% static 'js/jquery.min.js' %}"></script>
      <script src="{% static 'plugins/jquery-ui/jquery-ui.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
      <script src="{% static 'js/nifty.min.js' %}"></script>
      <script src="{% static 'js/app/nifty-app.js' %}"></script>
      <script src="{% static 'js/sweetalert2.all.min.js' %}"></script>
      <script src="{% static 'js/highcharts.src.js' %}"></script>
      <script src="{% static 'js/highcharts-more.js' %}"></script>
      <script src="{% static 'plugins/gridstack/js/gridstack.js' %}"></script>
      <script src="{% static 'plugins/gridstack/js/gridstack.jQueryUI.js' %}"></script>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/jspdf/0.9.0rc1/jspdf.min.js"></script>
      <script src="{% static 'js/html2canvas.min.js' %}"></script>
      <script src="{% static 'js/app.js' %}"></script>

</body>

</html>