{% extends 'base.html' %}
{% load static %}


{% block extrahead %}
<link href="{% static 'plugins/datatables/media/css/dataTables.bootstrap.css' %}" rel="stylesheet">
<link href="{% static 'plugins/datatables/extensions/Responsive/css/responsive.dataTables.min.css' %}" rel="stylesheet">
{% endblock extrahead %}



{% block title_module %}
Lista de usuarios
{% endblock title_module %}
{% block module %}
<li><a href="#">Autentificación</a></li>
{% endblock module %}
{% block view %}
Lista de usuarios
{% endblock view %}


{% block content %}

{% if messages %}
<div class="alert alert-success">
  {% for message in messages %}
  {{message}}
  {% endfor %}
</div>
{% endif %}

<div class="panel">
  <div class="panel-heading">
    <div class="panel-control">
      <a href="{% url 'userscreate' %}" class="btn btn-primary btn-labeled"><i class="btn-label demo-pli-add"></i>
        Agregar usuario</a>
    </div>
  </div>
  <div class="panel-body">
    <table class="table table-hover table-bordered datatable-list" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th class="active">Id</th>
          <th class="active">Usuario</th>
          <th class="active">Nombre</th>
          <th class="active">Apellidos</th>
          <th class="active">Correo</th>
          <th class="active">Último ingreso</th>
          <th class="active">Activo</th>
        </tr>
      </thead>
      <tbody>
        {% for self in object_list %}
        <tr data-url="{% url 'usersedit' self.id %}">
          <td>{{self.id}}</td>
          <td>{{self.username}}</td>
          <td>{{self.first_name}}</td>
          <td>{{self.last_name}}</td>
          <td>{{self.email}}</td>
          <td>
            {% if self.last_login %}
            {{self.last_login}}
            {% endif %}
          </td>
          <td>
            {% if self.is_active %}
            <div class="label label-table label-success"><i class="demo-pli-yes"></i></div>
            {% else %}
            <div class="label label-table label-danger"><i class="demo-pli-close"></i></div>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}


{% block extrascript %}
<script src="{% static 'plugins/datatables/media/js/jquery.dataTables.js' %}"></script>
<script src="{% static 'plugins/datatables/media/js/dataTables.bootstrap.js' %}"></script>
<script src="{% static 'plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'js/app/tables-datatables.js' %}"></script>
{% endblock extrascript %}