{% extends 'base.html' %}
{% load static %}


{% block title_module %}

{% if object %}
Actualización gráficos
{% else %}
Creación gráficos
{% endif %}

{% endblock title_module %}
{% block module %}
<li><a href="#">Gráficos</a></li>
<li><a href="{% url 'chart_list' %}">Lista de gráficos</a></li>
{% endblock module %}
{% block view %}
{% if object %}
Actualizar
{% else %}
Crear
{% endif %}
{% endblock view %}

{% block content %}
<div class="panel">
  <div class="panel-heading"></div>
  <form method="POST" novalidate="novalidate">
    {% csrf_token %}
    <div class="panel-body">
      {% for field in form %}
      <div class="form-group {% if field.errors %}has-error{% endif %}">
        <label class="control-label" for="{{field.name}}">{{field.label}}</label>
        {{ field }}
        {% if field.help_text %}
        <small style="color: grey">{{ field.help_text | safe }}</small>
        {% endif %}
        {% for error in field.errors %}
        <small class="text-danger pull-right">{{ error }}</small>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
    <div class="panel-footer">
      {% if object %}
      <button class="btn btn-danger" id="delete_chart" data-id="{{object.id}}" type="button">Eliminar</button>
      {% endif %}
      <button class="btn btn-success" type="submit">
        {% if object %}
        Actualizar
        {% else %}
        Crear
        {% endif %}
      </button>
    </div>
  </form>
</div>
{% endblock content %}