{% extends 'base.html' %}
{% load static %}


{% block extrahead %}
<link href="{% static 'plugins/datatables/media/css/dataTables.bootstrap.css' %}" rel="stylesheet">
<link href="{% static 'plugins/datatables/extensions/Responsive/css/responsive.dataTables.min.css' %}" rel="stylesheet">
{% endblock extrahead %}



{% block title_module %}
Gráficos
{% endblock title_module %}
{% block module %}
<li><a href="#">Indicadores</a></li>
{% endblock module %}
{% block view %}
Lista de gráficos
{% endblock view %}


{% block content %}

{% if messages %}
<div class="alert alert-success">
  {% for message in messages %}
  {{message}}
  {% endfor %}
</div>
{% endif %}

<div class="panel">
  <div class="panel-heading">
    <div class="panel-control">
      <a href="{% url 'chart_create' %}" class="btn btn-primary btn-labeled"><i class="btn-label demo-pli-add"></i>
        Agregar gráfico</a>
    </div>
  </div>
  <div class="panel-body">
    <table class="table table-hover table-bordered datatable-list" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th class="active">Id</th>
          <th class="active">Indicador</th>
          <th class="active">Nombre</th>
          <th class="active">Cant. historial</th>
          <th class="active">Tipo de gráfico</th>
        </tr>
      </thead>
      <tbody>
        {% for self in object_list %}
        <tr data-url="{% url 'chart_edit' self.id %}">
          <td>{{self.id}}</td>
          <td>{{self.indicator}}</td>
          <td>{{self.name}}</td>
          <td>{{self.history_count}}</td>
          <td>{{self.type_chart}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock content %}


{% block extrascript %}
<script src="{% static 'plugins/datatables/media/js/jquery.dataTables.js' %}"></script>
<script src="{% static 'plugins/datatables/media/js/dataTables.bootstrap.js' %}"></script>
<script src="{% static 'plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'js/app/tables-datatables.js' %}"></script>
{% endblock extrascript %}